@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");

body {
    display: flex;
    flex-direction: column;
    font-family: $font-main;
    color: $white;

    font-size: 16px;
    padding-top: 30px;

    overflow-x: clip;
    min-height: 840px;

    @include mediaTablet {
        min-height: unset;
        background-size: 1920px 555px;
    }
    
    background: linear-gradient(
			180deg,
			#242b33 11.98%,
			rgba(45, 52, 60, 0.38) 51.04%,
			#242b33 92.19%
		),
		url('./../img/header/header-bg.jpg');
    background-repeat: repeat-x;
    background-color: $dark;
    background-size: 1920px 840px;
    background-position: top;
}

a {
    color: $white;
    transition: color 0.2s ease-in;
    &:hover {
        color: $accent;
    }
}

.container {
    margin: 0 auto; // вистраюємо контейнер по центур сторінки
    padding: 0 15px;
    max-width: 1140px; // по дефолту було 1110, збільшуємо через падінг

    &--sm {
        max-width: 840px;
    }
}

.none {
    display: none !important;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
}