.benefits {
    position: relative;
    margin-top: -6px;

    &::after {
        content: "II";
        left: calc(50% + 555px);
        transform: translate(-35%, 0%);
        @include decorNumber;
        top: -80px;
    }

    &--row {
        display: flex;
        justify-content: center;
        gap: 70px;
        flex-wrap: wrap;
    }

    &--item {
        text-align: center;
        width: 193px;
    }

    &--item-image {
        margin-bottom: 53px;
    }

    &--item-text {
        font-size: 20px;
        font-weight: 300;
        line-height: 27px; /* 135% */
        font-family: $font-secondary;
    }
}
