.form {
    margin-top: -220px;
    padding: 180px 0;

    @include mediaTablet {
        margin-top: -50px;
        padding: 60px 10px;
    }

    background: linear-gradient(180deg, $dark 10.42%, rgba(36, 43, 51, 0) 50.52%, $dark 90.1%),
        linear-gradient(0deg, rgba(36, 43, 51, 0.9) 0%, rgba(36, 43, 51, 0.9) 100%),
        url("./../img/main/form-cta/form-bg.jpg"), #c4c4c4;
    background-repeat: repeat-x;
    background-color: $dark;
    background-size: auto 560px;
    background-position: center;

    &--title {
        color: $accent;
        font-family: $font-accent;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 17px;

        @include mediaTablet {
            font-size: 28px;
            margin-bottom: 40px;
        }
    }

    &--wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        @include mediaTablet {
            grid-template-columns: 1fr;
        }

        &-text {
            font-size: 16px;
            line-height: 24px; /* 150% */

            @include mediaTablet {
                font-size: 15px;
            }
        }

        &-form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 35px 20px;

            @include mediaTablet {
                grid-template-columns: 1fr;
                gap: 25px;
            }

            .form--cta-input {
                height: 50px;
                padding: 12px;
                text-align: center;
                background-color: rgba(255, 255, 255, 0.2);
                color: $white;
                font-size: 14px;
                transition: background-color 0.2s ease-in;

                &::placeholder {
                    color: $placeholder;
                }

                &:focus {
                    background-color: rgba(255, 255, 255, 0.25);
                }
            }

            .form--cta-privacy {
                font-size: 13px;
                color: $privacy;
                text-align: center;
                line-height: 16px; /* 123.077% */

                @include mediaTablet {
                    grid-row: 4 / 5;
                }
            }

            .form--cta-button {
                height: 50px;
                padding: 12px;
                font-size: 16px;
                color: $white;
                font-weight: 700px;
                text-align: center;
                background-color: $accent;
                transition: background-color 0.2s ease-in;

                &:hover {
                    background-color: saturate($accent, 20%);
                }
            }
        }
    }
}
