.main {
    display: flex;
    flex-direction: column;
    gap: 200px;

    @include mediaTablet {
        gap: 50px;
    }

    &--first-screen_title {
        position: relative;
        padding-bottom: 121px;
        text-align: center;
        font-size: 48px;
        font-family: $font-accent;
        color: $accent;
        font-weight: 700;

        @include mediaTablet {
            font-size: 32px;
            padding-top: 100px;
        }
    }

    &--title-icon {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &--first-screen_buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        @include mediaTablet {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
        }


    }

    &--buttons-text-right {
        text-align: right;
    }
}
